<h1>소유자 정보 재등록</h1>
<form [formGroup]="reuseInfo" (ngSubmit)="doSubmit()">
  <div class="panel">
    <h2>
      <span>1</span>
      <span>이용약관 동의</span>
    </h2>
    <div id="clause-agree">
      <label>
        <input type="checkbox" formControlName="clauseAgree" required>
        <span>
          피듀코리아
          <a href="http://fiduekorea.com/?mode=policy" target="_blank">이용약관</a>에 동의합니다.</span>
      </label>
    </div>
  </div>
  <div class="panel">
    <h2>
      <span>2</span>
      <span>제품번호입력</span>
    </h2>
    <div class="material-input">
      <input type="text" formControlName="serial" [ngClass]="{'ng-invalid' : message.isKeyStartswitchNotMatched}" required>
      <label>제품번호</label>
      <button class="floating" (click)="validateSerial($event);" [disabled]="message.isKeyStartswitchNotMatched || !reuseInfo.controls.clauseAgree.valid || !reuseInfo.controls.serial.valid">조회</button>
      <p *ngIf="message.isKeyStartswitchNotMatched">올바르지 않은 형식입니다.</p>
      <p *ngIf="message.isNotExistProductKey">존재하지 않는 제품번호입니다.</p>
      <p *ngIf="message.isNotExistProductKeyTokener">소유자가 존재하지 않는 제품번호입니다.</p>
    </div>
  </div>
  <div class="panel">
    <h2>
      <span>3</span>
      <span>신규 사용자정보 입력</span>
    </h2>
    <ng-container *ngIf="buy_user">
      <div class="material-input">
        <input type="text" value="{{buy_user.product.model}}" disabled>
        <label>제품명</label>
      </div>
      <div class="material-input">
        <input type="text" formControlName="user_name" required>
        <label>신규소유자명</label>
      </div>
      <div class="material-input">
        <input type="tel" formControlName="user_phone" required>
        <label>연락처</label>
      </div>
      <div>
        <p>* 알려드립니다!</p>
        <p>제품이전 시, 기존 소유자가 등록한 연락처로 SMS가 발송되며, 기존 소유자가 최종 동의한 이후 제품이전이 완료됩니다.</p>
      </div>
      <div id="buttons">
        <button class="floating blue" type="submit" [disabled]="!reuseInfo.valid">이전요청</button>
      </div>
    </ng-container>
  </div>
</form>