h1{
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 2.5rem 0;
    font-weight: 500;
}
form{
    padding-bottom: 2.5rem;
}
#clause-agree{
    text-align: right;
    vertical-align: middle;
}
#clause-agree label{
    font-size: 0.8rem;
    font-weight: 500;
    color: #111;
    vertical-align: middle;
}
#buttons{
    text-align: right;
    margin-top: 6rem;
}
#personal-info{
    position: relative;
    /* padding-top: 17rem; */
}