<h1>등록결과</h1>
<section class="panel">
  <h2>등록해주셔서 감사합니다!</h2>
  <p>
    정품등록이 정상적으로 완료되었습니다.
  </p>
  <div class="options">
    <a class="floating" routerLink="/">처음으로</a>
    <a class="floating blue" routerLink="/ascertain">등록내역 확인하기</a>
  </div>
</section>