h1{
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 2.5rem 0;
    font-weight: 500;
}
h2{
    text-align: left;
    margin: 1rem 0 0.2rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: #111;
}
p{
    margin: 0 1rem 1rem 0;
    padding: 0;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 400;
    color: #666;
    word-break: break-all;
}
.options{
    text-align: right;
}