<h1>정품등록</h1>
<form [formGroup]="productRegist" (ngSubmit)="doSubmit()">
  <div class="panel">
    <h2>
      <span>1</span>
      <span>이용약관 동의</span>
    </h2>
    <div id="clause-agree">
      <label>
        <input type="checkbox" formControlName="clauseAgree" required>
        <span>
          피듀코리아
          <a href="http://fiduekorea.com/?mode=policy" target="_blank">이용약관</a>에 동의합니다.</span>
      </label>
    </div>
  </div>
  <div class="panel">
    <h2>
      <span>2</span>
      <span>제품번호입력</span>
    </h2>
    <div class="material-input" id="serial">
      <input type="text" formControlName="serial" [ngClass]="{'ng-invalid' : isKeyStartswitchNotMatched}" (keyup)="isKeyStartswitchMatched($event)"
        required>
      <label>제품번호</label>
      <button class="floating" (click)="validateSerial($event);" [disabled]="isKeyStartswitchNotMatched || !productRegist.controls.clauseAgree.valid || !productRegist.controls.serial.valid">조회</button>
      <p *ngIf="isKeyStartswitchNotMatched">올바르지 않은 형식입니다.</p>
      <p *ngIf="isAlreadyUserExist">이미 사용자가 존재하는 제품번호입니다.</p>
      <p *ngIf="isNotExistProductKey">존재하지 않는 제품번호입니다.</p>
    </div>
  </div>
  <div class="panel" id="personal-info">
    <!-- <figure id="product-image">
      <img src="http://static.soundpick.net/fidue/product/image/{{product.product.product_image[0].image_filename}}">
      <figcaption>
        <span>{{product.product.model}}</span>
        <span> 제품등록</span>
      </figcaption>
    </figure> -->
    <h2>
      <span>3</span>
      <span>사용자정보 입력</span>
    </h2>
    <ng-container *ngIf="product">
      <div class="material-input">
        <input type="text" value="{{product.product.model}}" disabled>
        <label>제품명</label>
      </div>
      <div class="material-input">
        <input type="text" formControlName="userName" required>
        <label>구매자명</label>
      </div>
      <div class="material-input">
        <input type="tel" formControlName="userPhone" required>
        <label>연락처</label>
      </div>
      <div id="buy-date">
        <div class="fake-label">구매일</div>
        <div class="material-input">
          <input type="number" formControlName="year" min="2017" max="2050" required>
          <label>년</label>
        </div>
        <div class="material-input">
          <input type="number" formControlName="month" min="1" max="12" required>
          <label>월</label>
        </div>
        <div class="material-input">
          <input type="number" formControlName="day" min="1" max="31" required>
          <label>일</label>
        </div>
      </div>
      <div id="image-upload">
        <div class="fake-label">구매기록</div>
        <div class="material-input">
          <input type="file" (change)="imageUpload($event)" required>
          <p>
            ※ 시리얼 사진을 업로드하지 마세요!
            <br> 영수증 또는 구매기록<a class="question-mark" (mouseenter)="showReceiptUploadGuide($event)"><img src="assets/image/question-mark.png"></a>을 캡쳐한 이미지를 업로드 해 주세요.<br>
            구매기록에는 구매처, 구매일, 구매자명, 제품명이 반드시 포함되어야 합니다.
          </p>
          <input type="hidden" formControlName="imageFileName" required/>
        </div>
        <app-loading-spinner *ngIf="isImageUploading"></app-loading-spinner>
      </div>
      <div id="buttons">
        <button class="floating blue" type="submit" [disabled]="!productRegist.valid">등록</button>
      </div>
    </ng-container>
  </div>
</form>

<div id="receipt-guidance" #receiptguidance>
  <p>구매기록 캡쳐 예시</p>
  <img src="assets/image/receipt_guide.png">
</div>