h1{
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 2.5rem 0;
    font-weight: 500;
}
form{
    padding-bottom: 2.5rem;
}
#clause-agree{
    text-align: right;
    vertical-align: middle;
}
#clause-agree label{
    font-size: 0.8rem;
    font-weight: 500;
    color: #111;
    vertical-align: middle;
}
#serial, #image-upload{
    position: relative;
}
#buy-date{
    margin: 0.5rem;
}
#buy-date .material-input{
    display: inline-block;
    width: 32%;
    vertical-align: middle;
    text-align: center;
    margin: 0.5rem 0;
}
#image-upload{
    margin: 0.5rem;
}
#image-upload .material-input{
    margin: 0.5rem 0;
    width: 100%;
}
#buttons{
    text-align: right;
    margin-top: 6rem;
}
#personal-info{
    position: relative;
    /* padding-top: 17rem; */
}
#personal-info #product-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 17rem;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
#product-image img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    animation: 25s move-up-down infinite;
    animation-timing-function: ease-in-out;
}
#product-image figcaption{
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    color: #111;
    text-align: right;
    padding: 0.5rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
}
@keyframes move-up-down {
    from {
        transform: translateY(0);
    }
    50%{
        transform : translateY(calc(100% - 17rem));
    }
    to {
        transform : translateY(0);
    }
}

.question-mark{
    font-size: 0.5rem;
}
.question-mark img{
    width: 0.8rem;
    height: 0.8rem;
}

#receipt-guidance{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
    padding: 5%;
    text-align: center;
}
#receipt-guidance p{
    font-size: 1rem;
    color: #ff1944;
    font-weight: bold;
    background-color: #fff;
}
#receipt-guidance img{
    width: 100%;
    max-width: 320px;
    max-height: 100%;
    box-shadow: 0 0 3px rgba(255,255,255,0.1);
}