h1{
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 2.5rem 0;
    font-weight: 500;
}
#valid-serial{
    position: relative;
}
#valid-serial .material-input{
    margin: 1rem 0.5rem 1.5rem 0.5rem;
}
.options{
    text-align: right;
}