<h1>정품등록확인</h1>
<form class="panel" id="valid-serial" [formGroup]="product" (ngSubmit)="getProductInfo($event)">
  <h2>
    <span>+</span>
    <span>조회하고자 하는 제품번호를 입력해주세요</span>
  </h2>
  <div>
    <div class="material-input">
      <input type="text" formControlName="serial" required>
      <label>제품번호</label>
      <button class="floating" type="submit" 
      [disabled]="!product.valid || isValidating">
      조회하기
    </button>
      <p *ngIf="isAfterValidate">{{validateResultMsg}}</p>
    </div>
  </div>
  <app-loading-spinner *ngIf="isValidating"></app-loading-spinner>
</form>
<app-ascertain-result *ngIf="result" [target]="result"></app-ascertain-result>