h1{
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 2.5rem 0;
    font-weight: 500;
}
form{
    padding-bottom: 2.5rem;
}
#clause-agree{
    text-align: right;
    vertical-align: middle;
}
#clause-agree label{
    font-size: 0.8rem;
    font-weight: 500;
    color: #111;
    vertical-align: middle;
}
#buy-date{
    margin: 0.5rem;
}
#buy-date .material-input{
    display: inline-block;
    width: 32%;
    vertical-align: middle;
    text-align: center;
    margin: 0.5rem 0;
}
#buttons{
    text-align: right;
    margin-top: 1rem;
}
#personal-info{
    position: relative;
    /* padding-top: 17rem; */
}
.select-row{

}
.select-row h6{
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.select-row dl{
    display: block;
    margin: 0;
}
.select-row dl dt{
    display: inline-block;
}
.select-row dl dd{
    display: inline-block;
}