<h1>제품번호 교체</h1>
<form [formGroup]="swapInfo" (ngSubmit)="doSubmit()">
  <div class="panel">
    <h2>
      <span>1</span>
      <span>신규제품번호 입력</span>
    </h2>
    <div class="material-input">
      <input type="text" formControlName="serial" [ngClass]="{'ng-invalid' : message.isKeyStartswitchNotMatched}" required>
      <label>제품번호</label>
      <button class="floating" (click)="validateSerial($event);" [disabled]="message.isKeyStartswitchNotMatched || !swapInfo.controls.serial.valid">조회</button>
      <p *ngIf="message.isKeyStartswitchNotMatched">올바르지 않은 형식입니다.</p>
      <p *ngIf="message.isAlreadyUserExist">이미 사용자가 존재하는 제품번호입니다.</p>
      <p *ngIf="message.isNotExistProductKey">존재하지 않는 제품번호입니다.</p>
    </div>
  </div>
  <div class="panel">
    <h2>
      <span>2</span>
      <span>사용자정보 입력</span>
    </h2>
    <ng-container *ngIf="product">
      <div class="material-input">
        <input type="text" value="{{product.product.model}}" disabled>
        <label>제품명</label>
      </div>
      <div class="material-input">
        <input type="text" formControlName="user_name" required>
        <label>사용자명</label>
      </div>
      <div class="material-input">
        <input type="tel" formControlName="user_phone" required>
        <label>연락처</label>
      </div>
      <div>
        <p>* 소유자명 및 연락처는 기존 제품 등록시 등록한 정보와 일치하여야 합니다.</p>
      </div>
      <div id="buttons">
        <button class="floating blue" type="submit" [disabled]="!swapInfo.valid">등록</button>
      </div>
    </ng-container>
  </div>
  <div class="panel">
    <h2>
      <span>3</span>
      <span>대체제품 선택</span>
    </h2>
    <ul *ngIf="swap_target_list.length > 0">
      <ng-container *ngFor="let target of swap_target_list">
        <li class="panel select-row" (click)="swapWith(target.id)">
          <h6>{{target.product.model}}</h6>
          <dl>
            <dt>제품번호</dt>
            <dd>{{target.serial}}</dd>
          </dl>
          <dl>
            <dt>등록일</dt>
            <dd>{{target.buy_date.year + '-' + target.buy_date.month + '-' + target.buy_date.day}}</dd>
          </dl>
        </li>
      </ng-container>
    </ul>
  </div>
</form>