<h1>정품 등록 안내</h1>
<nav>
  <div class="panel">
    <h2>새 제품을 구입하셨나요?</h2>
    <p>정품등록을 통해 1년 간 다양한 A/S를 받아보실 수 있습니다.</p>
    <div class="options">
      <a class="floating blue" routerLink="regist">정품등록하기</a>
    </div>
  </div>
  <div class="panel">
    <h2>구입한 제품의 보증기간을 확인하고 싶으신가요?</h2>
    <p>제품번호를 통해 구입한 제품의 보증기간을 확인하실 수 있습니다.</p>
    <div class="options">
      <a class="floating" routerLink="ascertain">정품등록확인</a>
    </div>
  </div>
  <div class="panel">
    <h2>중고제품을 구매하셨나요?</h2>
    <p>소유자 정보를 재등록할 수 있습니다.</p>
    <div class="options">
      <a class="floating" routerLink="reuse">소유자정보변경</a>
    </div>
  </div>
  <div class="panel">
    <h2>제품을 교환받으셨나요?</h2>
    <p>교환받은 제품을 등록할 수 있습니다.</p>
    <div class="options">
      <a class="floating" routerLink="swap">교품등록</a>
    </div>
  </div>
</nav>