
@keyframes updown {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-10%);
    }
}
@keyframes leftright {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-10%);
    }
}