:host{
    display: block;
    padding-bottom: 3rem;
}
#product-info{
    position: relative;
    padding-top: 17rem;
}

#product-info #product-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 17rem;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
#product-image img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    animation: 100s move-up-down infinite;
    animation-timing-function: ease-in-out;
}
#product-image figcaption{
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    color: #666;
    text-align: right;
    padding: 0.5rem;
    font-size: 2rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
}

@keyframes move-up-down {
    from {
        transform: translateY(0);
        transform: translateZ(0);
    }
    50%{
        transform : translateY(20%);
        transform: translateZ(5%);
    }
    to {
        transform : translateY(0);
        transform: translateZ(0);
    }
}