<section class="panel" id="product-info">
  <figure id="product-image">
    <img src="http://static.soundpick.net/fidue/product/image/{{target.product.product_image[0].image_filename}}">
    <figcaption>
      <span>{{target.product.model}}</span>
    </figcaption>
  </figure>
  <div>
    <dl>
      <dt>구매자</dt>
      <dd>
        <span>{{target.user.user_name}}</span>
        <hr>
      </dd>
    </dl>
    <dl>
      <dt>구입일</dt>
      <dd>
        <span>{{target.user.buy_date.year}}년 {{target.user.buy_date.month}}월 {{target.user.buy_date.day}}일</span>
        <hr>
      </dd>
    </dl>
    <dl>
      <dt>보증기간</dt>
      <dd>
        <span WarrantyDayLengthConvert 
        [warranty-length]="target.product.warranty_day_length"></span>
        <hr>
      </dd>
    </dl>
    <dl>
      <dt>보증종료일</dt>
      <dd>
        <span WarrantyDayCalculator 
        [start-date-object]="target.user.buy_date" 
        [warranty-length]="target.product.warranty_day_length"></span>
        <hr>
        <p>
          <span WarrantyLeftCalculator 
          [start-date-object]="target.user.buy_date" 
          [warranty-length]="target.product.warranty_day_length"></span>
           남았습니다.</p>
      </dd>
    </dl>
    <dl *ngIf="target.user.mod_valid">
      <dt>정보수정</dt>
      <dd>
        <span></span>
        <hr>
        <input type="file" (change)="upload_receipt_image_file($event)">
        <app-loading-spinner *ngIf="isImageUploading"></app-loading-spinner>
      </dd>
    </dl>
  </div>
</section>