/* You can add global styles to this file, and also import other style files */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div, span, h1, h2, h3, h4, h5, h6, p, a, label, input, button, strong, small, ul, ol, li, th, td, dl, dt, dd{
	/*font-family: 'Nanum Gothic', '나눔고딕', NanumGothic, 'NanumGothicWeb', '맑은고딕', MalgunGothic, '돋움', Dotum, Helvetica, 'Apple SD Gothic Neo', Sans-serif !important;*/
    /*font-family: "Yoon Gothic", "Apple Gothic", "HY Gulim", "MalgumGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;*/
    /* font-family: 'Noto Sans KR', sans-serif !important; */
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' !important;
}

html, body{
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    /* background-color: #f2f4f7; */
    background-color: #fff;
    font-size: 16px;
    position: relative;
}
body{
    max-height: 960px;
    max-width: 640px;
    overflow-y: scroll;
    margin: 0 auto;
        background-image: url('/assets/image/bg.png');
        background-position: top left;
        background-size: 100% auto;
        background-repeat: no-repeat;
}
h1{
    margin: 0;
    padding: 0.67rem 0;
}
dl{
    display: block;
    width: 100%;
}
dl dt{
    font-size: 0.8rem;
    color: #999;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
dl dd{
    font-size: 1rem;
    color: #111;
    font-weight: 300;
    margin: 0;
    padding: 0;
    padding-top: 0.3rem;
}
dl dd hr{
    border-top: 0.1rem solid #9ad422;
    border-left: none;
    margin:0;
    margin-top: 0.2rem;
}
dl dd p{
    margin: 0;
    font-size: 0.8rem;
}
.panel {
    display: block;
    width: 95%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: #fff;
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, .08);
    transition: 0.375s;
    transition-timing-function: ease-in;
  }
.panel:hover{
    transition: 0.375s;
    transition-timing-function: ease-in;
    box-shadow: 0 0px 5px 2px rgba(0, 0, 0, .1);
}
.panel > h2{
    margin: 0;
    padding: 0;
}
.panel > h2 > span:first-child{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    padding: 0.1rem;
    border-radius: 50%;
    vertical-align: middle;
    color: white;
    background-color: #2196f4;
    text-align: center;
}
.panel > h2 > span:last-child{
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle;
    color: #2196f4;
    font-weight: 400;
}
button.floating,
a.floating{
    -webkit-appearance: none;
    display: inline-block;
    font-size: 14px;
    height: 36px;
    padding: 8px 16px;
    vertical-align: middle;
    text-decoration: none;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    color: #9ad422;
}
button.floating[disabled]{
    -webkit-appearance: none;
    border:none;
    opacity: 0.5;
    transition: 0.475s;
}
.floating.blue{
    background-color: #9ad422;
    color: #fff;
}
.material-input {
    position: relative;
    width: calc(100% - 1rem);
    height: 3rem;
    margin: 2rem 0.5rem 2rem 0.5rem;
}

.material-input input {
    -webkit-appearance: none;
    z-index: 200;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid #999;
    border-radius: 0;
    color: #666;
    font-size: 1rem;
    box-shadow: none;
}

.material-input::placeholder {
    opacity: 0;
}

.material-input label {
    z-index: 100;
    position: absolute;
    bottom: 0.3rem;
    left: 0;
    opacity: 0.8;
    transition: 0.07s;
    font-size: 1rem;
    color: #666;
    font-weight: 500;
    transition-timing-function: ease-out;
}
.fake-label{
    font-size: 1rem;
    font-weight: 500;
}
.material-input input:focus{
    -webkit-appearance: none;
    border-bottom: 2px solid #9ad422;
    transition-timing-function: ease-out;
    transition: 0.07s;
    outline: none;
}
.material-input input.ng-valid,
.material-input input[disabled]{
    border-bottom: 2px solid #9ad422;
}
.material-input input.ng-dirty.ng-invalid{
    border-bottom: 2px solid #ff1944;
}
.material-input input.ng-dirty~label,
.material-input input.ng-valid~label,
.material-input input[disabled]~label{
    bottom: 2rem;
    /* font-size: 0.8rem; */
    transition: 0.07s;
    font-weight: 500;
    color: #111;
    transition-timing-function: ease-out;
}
.material-input p{
    position: absolute;
    top : 100%;
    left: 0;
    margin: 0;
    font-size: 0.8rem;
    color: #ff1944;
}
.material-input button{
    z-index: 300;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    padding: 8px 0;
    background-color: transparent;
}
.material-input .icon {
    position: absolute;
    bottom: 0.3rem;
    right: 1rem;
}
input[type=file]{
    font-size:0.7rem;
}