h1{
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 2.5rem 0;
    font-weight: 500;
}
form{
    padding-bottom: 2.5rem;
}
#buttons{
    text-align: right;
    margin-top: 6rem;
}
button.accepted{
    display: block;
    background-color: transparent;
    color: #999;
}
button.accepted.active{
    display: block;
    background-color: #2196f4;
    color: #fff;
}