<h1>소유자 정보 재등록 승인</h1>
<form [formGroup]="acceptInfo" (ngSubmit)="acceptReuseInfo()">
  <div class="panel">
    <h2>
      <span>1</span>
      <span>신규 사용자정보 확인</span>
    </h2>
    <ng-container *ngIf="reuse_info">
      <dl>
        <dt>제품명</dt>
        <dd>
          <span>{{reuse_info.buy_user.product.model}}</span>
          <hr>
        </dd>
      </dl>
      <dl>
        <dt>제품번호</dt>
        <dd>
          <span>{{reuse_info.buy_user.serial}}</span>
          <hr>
        </dd>
      </dl>
      <dl>
        <dt>이전대상자</dt>
        <dd>
          <span>{{reuse_info.user_name}}</span>
          <hr>
        </dd>
      </dl>
    </ng-container>
  </div>
  <div class="panel">
    <h2>
      <span>2</span>
      <span>이전 요청 승인</span>
    </h2>
    <div class="material-input">
      <input type="tel" formControlName="valid_number" required>
      <label>SMS 인증번호</label>
    </div>
    <div>
      <button type="button" class="floating accepted" (click)="is_accepted = true" 
      [ngClass]="{'active' : is_accepted}">
        소유자 이전 요청을
        <span>승인</span>합니다.
      </button>
      <button type="button" class="floating accepted" (click)="is_accepted = false" 
      [ngClass]="{'active' : !is_accepted}">
        소유자 이전 요청을
        <span>거절</span>합니다.
      </button>
    </div>
    <div id="buttons">
      <button class="floating blue" type="submit" [disabled]="!acceptInfo.valid">제출</button>
    </div>
  </div>
</form>